@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

#logo {
    padding-left: 7vw;
    position: absolute;
    margin-top: 1%;
}

#hero {
    height: 100vh;
    padding-left: 7vw;

    background-color: black;
    background-image: url(img/pfhome.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 250%;
    line-height: 200%;
    color: white;
}

#hero h1 {
    position: absolute; 
    top: 50%; 
    transform: translate(0, -50%);
    font-size: 5vw;
    width: 42vw;
}

#hero div img{
    height: 50vw;
    position: absolute;
    right: 7vw;
    bottom: -20%;
}

.desc-section {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;

    color: #134D3C;
    font-size: 135%;
}

#desc-app {
    height: 60vh;
    position: relative;
}

.desc-app {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    width: 70vw;
    text-align: center;
    font-size: 2vw;
}

#section1 {
    height: 43vh;
    background-color: black;    
    background-image: url(img/pf1.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-left: 10vw;
    position: relative;
    margin-bottom: 97vh;
}

.section-content {
    display: flex;
    flex-direction: row;
    align-items: initial;
}

.section-content img {
    height: 60vw;
}

#section1 .section-content h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    color: white;

    margin-top: 14vh;
    position: absolute;
    right: 12vw;
}

.section-desc {
    position: absolute;
    right: 16vw;
    bottom: -83vh;
    height: 410px;

    background-image: url(img/pfdesc.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;

    color: #134D3C;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
}

.section-desc h3 {
    transform: translateY(110px);
    font-size: 2vw;
}

#section2 {
    height: 43vh;
    background-color: black;    
    background-image: url(img/pf2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-left: 10vw;
    position: relative;
    margin-bottom: 100vh;
}

.section-content2 {
    display: flex;
    flex-direction: row;
    align-items: initial;
}

#section2 .section-content2 h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    color: white;

    margin-top: 14vh;
    position: absolute;
    left: 12vw;
}

.section-desc2 {
    position: absolute;
    left: 13vw;
    bottom: -85vh;
    height: 410px;
    background-image: url(img/pfdesc.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    color: #134D3C;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
}

.section-desc2 h3 {
    transform: translateY(110px);
    font-size: 2vw;
}

.section-content2 img {
    position: absolute;
    right: 5vw;
    height: 58vw;
}

#section3 {
    height: 43vh;
    background-color: black;    
    background-image: url(img/pf1.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-left: 10vw;
    position: relative;
    margin-bottom: 100vh;
}

.section-content3 {
    display: flex;
    flex-direction: row;
    align-items: initial;
}

#section3 .section-content3 h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    color: white;
    margin-top: 17vh;
    position: absolute;
    right: 12vw;
}

.section-desc3 {
    position: absolute;
    right: 14vw;
    bottom: -76vh;
    height: 350px;
    background-image: url(img/pfdesc.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    color: #134D3C;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
}

.section-desc3 h3 {
    transform: translateY(110px);
    font-size: 2vw;
}

.section-content3 img {
    height: 100vh;
}

footer {
    background-color: black;
    height: 60vh;

    color: white;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;

    position: relative;    
}

#footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    margin-left: 40%;
    transform: translate(0%, -50%);
}

a { 
    color: inherit;
    text-decoration: none; 
} 

#icons {
    margin-top: 25px;
    margin-bottom: 25px;
}

#instagram {
    margin-left: 15px;
    margin-right: 15px;
}

#email {
    margin-bottom: 25px;
}

/* RESPONSIVO */

@media screen and (max-width: 1200px) {
    #hero h1 {
        font-size: 4vw;
    }
    .section-desc3 {
        position: absolute;
        height: 400px;
    }
}
@media screen and (max-width: 996px) {
    #hero h1 {
        font-size: 4.5vw;
        line-height: 120%;
    }
}
@media screen and (max-width: 768px) {
    #hero div img {
        height: 54vw;
    }
    .desc-app {
        font-size: 2.2vw;
    }
    .section-desc h3 {
        font-size: 2.2vw;
        padding-top: 8vh;
    }
    #section1 {
        margin-bottom: 80vh;
    }
    .section-desc2 h3 {
        font-size: 2.2vw;
        padding-top: 8vh;
    }
    #section2 {
        margin-bottom: 80vh;
    }
    .section-desc3 h3 {
        font-size: 2.2vw;
        padding-top: 5vh;
    }
    #section3 {
        margin-bottom: 80vh;
    }
    #footer-content {
        margin-left: 36vw;
    }
}

@media screen and (max-width: 576px) {
    #hero {
        background-image: url(img/pfhome1.svg);
    }
    #hero h1 {
        font-size: 5vw;
        line-height: 120%;
        text-align: center;
        transform: translate(12vw, -27vw);
        width: 60vw;
    }
    #hero div img {
        height: 66vw;
        transform: translateX(-8vw);
    }
    .desc-app {
        font-size: 3vw;
        width: 90vw;
    }
    #section1 .section-content h2 {
        font-size: 4.4vw;
        margin-top: 8vh;
        text-align: center;
        transform: translateX(-13vw);
    }
    .section-content img {
        height: 90vw;
        transform: translate(13vw, 15vw);
    }
    #section1 {
        margin-bottom: 122vh;
    }
    .section-desc {
        position: absolute;
        right: 27vw;
        bottom: -134vh;
        height: 410px;
        background-image: url(img/pfdesc.svg);
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        color: #134D3C;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
    }
    .section-desc h3 {
        font-size: 3vw;
        padding-top: 8vh;
    }    
    #section2 .section-content2 h2 {
        font-size: 4.4vw;
        margin-top: 14vh;
        left: 28vw;
        text-align: center;
    }
    .section-content2 img {
    position: absolute;
    right: 12vw;
    height: 84vw;
    margin-top: 24vh;
    }
    #section2 {
        margin-bottom: 122vh;
    }
    .section-desc2 h3 {
        font-size: 3vw;
        padding-top: 8vh;
    }
    .section-desc2 {
        position: absolute;
        left: 31vw;
        bottom: -136vh;
        height: 410px;
        background-image: url(img/pfdesc.svg);
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        color: #134D3C;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
    }
    #section3 .section-content3 h2 {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 4.4vw;
        color: white;
        margin-top: 17vh;
        position: absolute;
        right: 25vw;
    }
    .section-content3 img {
        height: 100vh;
        transform: translate(14vw, 17vw);
    }
    #section3 {
        margin-bottom: 122vh;
    }
    .section-desc3 h3 {
        font-size: 3vw;
        padding-top: 5vh;
    }
    .section-desc3 {
        position: absolute;
        right: 30vw;
        bottom: -127vh;
        height: 350px;
        background-image: url(img/pfdesc.svg);
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        color: #134D3C;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
    }
    #footer-content {
    margin-left: 29vw;
    }
    
}